<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lelkordy191227">
    <!--Request Internet connection-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--Request to check Internet connection state-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lelkordy191227">
        <activity android:name=".WeatherMap"></activity>
        <activity android:name=".FetchSqlite" />
        <activity android:name=".DeleteSqlite" />
        <activity android:name=".UpdateSqlite" />
        <activity android:name=".InsertSqlite" />
        <activity android:name=".SQLiteActivity" />
        <activity android:name=".FetchFirebase" />
        <activity android:name=".FetchspecFirebase" />
        <activity android:name=".DeleteFirebase" />
        <activity android:name=".UpdateFirebase" />
        <activity android:name=".InsertFirebase" />
        <activity android:name=".FirebaseActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>